SUPERDEV_STUDIO_ADDR=:8080
SUPERDEV_STUDIO_DB=./data/superdev_studio.db
SUPER_DEV_CMD=python -m super_dev.cli
SUPER_DEV_WORKDIR=
VOLCENGINE_ARK_API_KEY=
VOLCENGINE_ARK_MODEL=
VOLCENGINE_ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
